// code {
//     color: #2ac3de;
//     background: #414868;
//     margin: 2px;
//     border: 2px solid #24283b;
// }

code {
    color: #7aa2f7;
    background: #d9def5;
    margin: 3px;
    padding: 2px
    border-radius: 4px;
    border: 1.5px solid #9aa5ce;
}